<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Direccion donde se encuentran publicados los servicios web de GOIA Cooperativas -->
    <add key="urlAPIService" value="http://cooperativaws.goia.es" />
    <!-- Email del usuario con acceso al módulo GOIA Cooperativas -->
    <add key="userAPIService" value="usuario@correo.com" />
    <!-- Contraseña del usuario con acceso al módulo GOIA Cooperativas -->
    <add key="passAPIService" value="**contraseña**" />
    <!-- Identificador único de la cooperativa dentro de GOIA -->
    <add key="coopAPIService" value="18" />
    <!-- Nº minutos entre cada llamada al servicio de Tratamientos fitosanitarios -->
    <add key="minutosTratamiento" value="30" />
    <!-- Nº minutos entre cada llamada al servicio de Produccion -->
    <add key="minutosProduccion" value="30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>